:ruby
  data = {
    stations_sf: %w(16th civc powl mont),
    stations_eb: %w(conc phil)
  }
  def row(station)
    "<tr><th>#{station}</th><td></td><td></td><td></td><td></td><td></td><td></td></tr>"
  end

!!!

%html
  %head
    %title Bortapp
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{content: 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;', name: 'viewport' }
    %style{type: 'text/css'}= File.read('./bart.css')
    %link#favicon{rel: 'shortcut icon', type: 'image/x-icon', href:'mario.ico'}

  %body
    #sf
      %h3 &raquo;SF
      %table{:border => 1, :cellspacing => 0}
        %tbody#sf-stations-south
          - data[:stations_sf].each do |station|
            = row(station)
      %h3
        &raquo;EB
      %table{:border => 1, :cellspacing => 0}
        %tbody#sf-stations-north
          - data[:stations_sf].each do |station|
            = row(station)
    #dp
      %h3 &raquo;SF
      %table{:border => 1, :cellspacing => 0}
        %tbody#eb-stations-south
          - data[:stations_eb].each do |station|
            = row(station)
    .refresh
      %a#refresh{href: "#"} Refresh();
    #data{data: data}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", async: "async"}
    %script{async: "async"}= File.read('./bart.js')
